.header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 6vh;
    background-color: rgba(26, 25, 25, 0.856);
}

.header h1{
    color:rgba(255, 255, 255, 0.904);
    font-size: 3vh;
    font-style: normal;
}

.header h2{
    color:rgba(255, 255, 255, 0.904);
    font-size: 3vh;
}

.main{
    display: flex;
    align-items: center;
    width: 40vw;
    height: 60vh;
    background-color: rgb(65, 63, 63);
}