.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    background-color: rgb(34, 33, 33);
}

.header h1{
    color:rgba(255, 255, 255, 0.904);
    font-size: 3vh;
    font-style: normal;
}

.header h2{
    color:rgba(255, 255, 255, 0.904);
    font-size: 3vh;
}

.header img{
    height: 4vh;
}


.main{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fundo_login{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(65,63,63);
    padding-bottom: 4%;
    padding-top: 0%;
    margin-top: 15%;
}

.formulario {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw; 
}



.footer p{
    color: dimgray;
    font-size: 2vh;
}

body {
    background-image: url('./fundo.jpg');
    background-size: cover;
    background-position:center;  
    margin: 0; 
    padding: 0; 
    height: 100vh;
    width: 100vw;
}

.footer{
    display:flex;
    align-items: center;
    padding: 5vh;
    width: 100vw;
    height: 5vh;
}