.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    background-color: rgb(34, 33, 33);
}

.header h1{
    color:rgba(255, 255, 255, 0.904);
    font-size: 3vh;
    font-style: normal;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.header h2{
    color:rgba(255, 255, 255, 0.904);
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.header img{
    height: 4vh;
}


.main{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0%;
}

.fundo_login{
    height: 47vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(65,63,63);
    padding-bottom: 7%;
    padding-top: 0%;
    margin-top: 15%;
    border-radius: 10px ;
}

.formulario {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw; 
}


.footer p{
    color: dimgray;
    height: 0.1vh;
    margin-right: 0.6%;
}

body {
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('./fundo.jpg');;
    background-size: cover;
    background-position: center;
    margin:0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
}



.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    margin-top: 10%;
}

.git{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8vw;
}

.main h3{
    color:white;
    font-size: 4vh;
    margin-bottom: 15%;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.main p{
    color:white;
    margin-top: 1%;
    margin-bottom: 1%;
}

.main .fundo_login button.green-button{
    background-color: #00FF00;
    color: white;
    padding: 15px 30px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    cursor:pointer;
    height: 30px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.main .fundo_login button.google-button{
    background-color:  rgb(34, 33, 33);
    color: white;
    padding: 15px 30px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    cursor:pointer;
    height: 30px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .fundo_login button.google-button img{
    padding-right: 5%;
}

.main .fundo_login button.facebook-button{
    background-color:  rgb(34, 33, 33);
    color: white;
    padding: 15px 30px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    cursor:pointer;
    height: 32px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 7%;
}

.main .fundo_login button.facebook-button img{
    padding-right: 5%;
    padding-left: 5%;
}

.main .fundo_login .inputs{
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 20vw;
    padding-bottom: 2%;
    flex-direction: column;
    margin-top: 0%;
}

.main .fundo_login .inputs .username{ 
    color:white;
    padding-left: 0%;
    padding-right: 35%; 
    padding-top: 15%;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4vh;
}

.main .fundo_login .inputs .password{ 
    color:white;
    padding-left: 0%;
    padding-right: 72%; 
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4vh;
}



.main .fundo_login .inputs input{
    background-color: rgb(34, 33, 33);
    border: none;
    padding: 8px; 
    border-radius: 5px; 
    font-size: 16px; 
    margin-bottom: 10px;
    width: 250px;
}


.main .fundo_login .inputs .remember input[type="checkbox"] {
    display: none; 
}


.main .fundo_login .inputs .remember label.slide {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 5px;
}


.main .fundo_login .inputs .remember label.slide:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}


.main .fundo_login .inputs .remember input[type="checkbox"]:checked + label.slide {
    background-color: #00FF00;
}


.main .fundo_login .inputs .remember input[type="checkbox"]:checked + label.slide:after {
    transform: translateX(26px); 
}



.main .fundo_login .inputs .remember {
    color:white;
    padding-right: 40%;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4vh;
}

.forgot-password {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    text-align: right; 
}

.forgot-password-link {
    color: #007BFF; 
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5%;
}

.forgot-password-link:hover {
    text-decoration: underline; 
}

